<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h1>
    Hier feierst du deinen Geburtstag! <br/>
    <a href="http://www.cafe-knorke-bar.de/">DIE KNORKE BAR<a/>
</h1>
<p>
  We are really good friends and now you can see my calender every day- wohooo :
</p>