<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2>
  whats app <br/>
  facebook <br/>
  google+ <br/>
  strausi <br/>
</h2>
<%= link_to image_tag("Nini.jpg"), 'Nina' %>
<%= link_to image_tag("Conyli.jpg"), 'Conny' %>