<% provide(:title, 'Help') %>
<h1>Alles was mit uns zu tun hat :)</h1>
<p>
	Wichtige Links <br/>
  <a href="http://www.zalando.de/">Zalando</a><br/>
  <a href="http://www.pullandbear.com/">pullandbear</a><br/>
  <a href="http://www.stradivarius.com/">Stradivarius</a><br/>
  <a href="http://www.ikea.com/de/de/">IKEA</a><br/>
  <a href="http://www.newlook.com/">New Look</a><br/>
  <a href="http://m.mysuperfit.com/">Superfit</a><br/>
  <a href="http://www.prosieben.de/tv/germanys-next-topmodel/video">GNTM</a><br/>
</p>
<h1>
  Hier feierst du deinen Geburtstag! <br/>
  <a href="http://www.cafe-knorke-bar.de/">DIE KNORKE BAR<a/>
</h1>