<% provide(:title, 'Help') %>
<h1>Alles was mit uns zu tun hat :)</h1>
<p>
	Wichtige Links
  <a href="http://www.zalando.de/">Zalando</a>
  <a href="http://www.pullandbear.com/">pullandbear</a>
  <a href="http://www.stradivarius.com/">Stradivarius</a>
  <a href="http://www.ikea.com/de/de/">IKEA</a>
  <a href="http://www.newlook.com/">New Look</a>
  <a href="http://m.mysuperfit.com/">Superfit</a>
  <a href="http://www.prosieben.de/tv/germanys-next-topmodel/video">GNTM</a>

</p>