<% provide(:title, 'Help') %>
<h1>Alles was mit uns zu tun hat :)</h1>
<p>
	Unsere festen Termine: Montag 21 Uhr und Mittwoch 19:30 Sport
  <%= link_to image_tag("Connyli.jpg", alt: "Rails") %>
  <%= link_to image_tag("Nini.jpg", alt: "Rails") %>
</p>